body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.typing-loader{
  margin: 3px auto;
  color: white;
  width: 6px;
  height: 6px;
  -webkit-animation: line 1s linear infinite alternate;
 -moz-animation: line 1s linear infinite alternate;
 animation: line 1s linear infinite alternate;
}
@-webkit-keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}

@-moz-keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}

@keyframes line{
  0%{
     
      background-color: rgba(0,0,0, 1);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
    }
  25%{ 
          background-color: rgba(0,0,0, 0.4);
          box-shadow: 12px 0px 0px 0px rgba(0,0,0,2), 
                  24px 0px 0px 0px rgba(0,0,0,0.2);
                  
  }
  75%{ background-color: rgba(0,0,0, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2), 
                  24px 0px 0px 0px rgba(0,0,0,2);
                 
    }
}